*
{
    margin: 0;
    padding: 0;
}

html
{
    background: #1e1a20;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
}


.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
    will-change: transform;
}
section:nth-child(odd)
{
    justify-content: flex-end;
}

#img1{
    margin-left: 10000px;

}

.hide{
    font-size: 10px;
    margin:0px;
    padding: 0px;
    display: none;
}
h2{
    margin-left: 400px;
    
}
ul{
    display: block;
    list-style: none;
}
/* gallery display */
.sites {
    display: block;
  }
  
  .sites ul {
    list-style: none;
    width:1000px
  }
  
  .sites ul li {
      background: #e6faff;
      display: inline;
      list-style: none;
        float: left;
      margin: 4px 0 0 4px;
      padding: 0;
      text-align:center; 
      color: #000;
      border-top: 0px;
      height: 200px;
      width: 316px;
      border: 6px solid #d4efff;
      border-radius: 3px;
  }
  
  .sites ul li a {
    display: block;
    margin-bottom: 0px; 
    opacity: 0.75;
    font-family: Verdana;
    font-size: 11px;
    text-decoration: none;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .sites ul li a:hover {
    opacity: 1.0;
    height: 184px;
  }
  .sites ul li a:hover + .hide{
    opacity: 1.0;
    display: block;
  }
  
  .sites ul li a img {
    border: 6px solid #d4efff;

  }